// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$button-border-width: 2px;
// $box-radius: 0;
// $box-shadow: none;
// $card-shadow: none;

